@font-face {
    font-family: "NunitoSans";
    src: url(../fonts/Nunito_Sans/NunitoSans_10pt-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "NunitoSans";
    src: url(../fonts/Nunito_Sans/NunitoSans_10pt-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "NunitoSans";
    src: url(../fonts/Nunito_Sans/NunitoSans_10pt-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "NunitoSans";
    src: url(../fonts/Nunito_Sans/NunitoSans_7pt-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "NunitoSans";
    src: url(../fonts/Nunito_Sans/NunitoSans_7pt-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "NunitoSans";
    src: url(../fonts/Nunito_Sans/NunitoSans_7pt-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "NunitoSans";
    src: url(../fonts/Nunito_Sans/NunitoSans_7pt-Regular.ttf);
    font-weight: 400;
}